#background {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);  
    position: absolute;
    z-index: -1;
}

.container {
    position: fixed; 
    top: 10%;
    left: 20%;
    height: 80%;
    width: 60%;
    text-align: center;
}

.container2 {
    position: absolute; 
    top: 15%;
    left: 1%;
    height: 80%;
    width: 98%;
    border: 3px solid teal;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
}

h1 {
    font-family: 'Diplomata', cursive;
    color: rgb(5, 46, 121);
    font-size: 32px;
}

#score {
    font-size: 20px;
    color: rgb(10, 87, 48);
    font-family: 'Acme', sans-serif;
}

h2 {
    font-size: 36px;
    color: rgba(0, 0, 255, 0.815);
    font-family: 'Acme', sans-serif;
}

#start {
    border: 3px solid rgb(56, 99, 78);
    width: 20%;
    height: 8%;
    font-family: 'Acme', san-serif;
    font-size: 18px;
    background-color: rgb(180, 193, 238);
}

.answer-button {
    border: 3px solid rgb(56, 99, 78);
    width: 50%;
    float:left;
    height: 15%;
    font-family: 'Acme', san-serif;
    font-size: 24px;
    background-color: rgb(150, 198, 212);
    color: darkblue;
}

#wrong {
    font-size: 36px;
    color: rgba(255, 0, 0, 0.699);
    font-family: 'Acme', sans-serif;
    font-weight: bold;
}

#correct {
    font-size: 36px;
    color: green;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
}

#right-answer {
    font-size: 33px;
    color: lightgreen;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    background-color: green;
}

#counter {
    font-size: 50px;
    color: purple;
    font-family: 'Diplomata', cursive;
    font-weight: bold;
}

#finish {
    font-size: 35px;
    color: orange;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    background-color: teal;
}

.results {
    font-size: 28px;
    color: rgba(33, 12, 150, 0.733);
    font-family: 'Acme', sans-serif;
    font-weight: bold;
}

#reset {
    border: 3px solid rgb(56, 99, 78);
    width: 20%;
    height: 8%;
    font-family: 'Acme', san-serif;
    font-size: 18px;
    background-color: rgb(180, 193, 238);
}